# Xcode
build/
DerivedData/
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.moved-aside
*.xcuserdatad
*.xcscmblueprint

# SwiftPM
.swiftpm/
.build/
Packages/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Editor
.vscode/
.idea/
